.container{
    margin-top: 180px;
    .text-tgl{
        font-size: 16px;
        font-weight:bold;
        margin-bottom: -15px;
    }
}

.cart-box{
    position: fixed;
    bottom: 0;
    background: #a23530;
    width: 100%;
   
    .text-harga{
        color: white;
        font-weight: 700;
    }
    .text-ongkos{
        color: white;
        margin-top: -10px;
        font-size: 8px;
    }
    .icon-cart{
        position: relative;
        float:right;
        margin-top: -50px;
        margin-right: 20px;
    }
    .icon-next{
        position: relative;
        float:right;
        margin-top: -43px;
        margin-left: 3px;
    }
    .btn-min{
        background: #f9423a;
        border: none;
        width: 30px;
        border-radius: 3px;
        color: white;
        font-weight: 700;
    }
}